
@font-face {
    font-family: 'Monument Extended';
    src: url('path/to/fonts/MonumentExtended.woff2') format('woff2'),
         url('path/to/fonts/MonumentExtended.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* font-family: 'Gilroy-Medium'; */
    
}

html,body{
    height: 100%;
    width: 100%;

}
#main{
    height: 100%;
    width: 100%;
    background-color:#f8f8f8;
    position: relative;
    padding-top: 0.1px;
}
#nav{
    height: 11vh;
    width: 100%;
    margin-top: 40px;
    /* background-color: red; */
    border-top:2px solid black;
    border-bottom:2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav h1{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    letter-spacing: -1px;
    font-weight:700;
    font-family: 'Monument Extended';
    position: relative;

}
#nav h3{
    display: none;
}
#nav h1::after{
    content: "ⓒ";
    font-family:gilroy;
    font-weight: 800;
    font-size: 1vw;
    position: absolute;
    top: 25%;
    right: 1%;
}
#nav h1::before{
    content: "model management";
    font-family:gilroy;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.3px;
    position: absolute;
    bottom: 12%;
    right: 3%;
    color: #666;
}
#nav h2{
    /* background-color: blue; */
    height: 100%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 25px;
    font-weight: 600;
    /* background-color: red; */
}
#nav h2:nth-last-child(2){
    width: 29%;
}
#nav h2:nth-last-child(1){
    width: 10%;
}
#center{
    height:90% ;
    width: 100%;
    /* background-color: red; */
    padding: 4vw;
}
#content{
    height: 100%;
    width:100%;
    /* background-color: yellow; */
    position: relative;

}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    height: 52%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    padding: 3vw;
    color: #fff;

}
#over1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw;
}
#over1 h1{
    font-family:'Monument Extended';
    font-size: 3.6vw;

}
#over1 h2{
    font-size: 1vw;
    padding: 2vw 2.2vw;
    /* background-color: blue; */
    border-radius: 50%;
    border: 1px solid #fff;
    border-bottom: 2px solid #fff;

}
#over2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #fff;
    padding: 1.5vw 0;
}
#over2 h4{
    font-size: 1.3vw;
    font-weight: 600;
}
#over2 img{
    height: 3vw;
}
#scroll {
    height: 40vh;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container{
    height: 100%;
    width: 110%;
    /* background-color: blue; */
    display: inline-block;
    padding:2vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
 
}
#scroll img{
    /* display: none; */
    height: 95%;
    width: 15%;
    margin: 1vw;
    border-radius: 50%;
    object-fit: cover;
    object-position:30% 30%;
}
@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#alphabate{
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.9vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#alphabate h5{
    font-size: 1.7vw;
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid black;
    letter-spacing: 4px;
    margin-right: 2vw;
}
#alphabate h6{
    font-size: 1vw;
    font-weight: 200;
    letter-spacing: 4px;
    font-style: italic;
    /* background-color: yellow; */
    padding: 0.5vw 0.7vw;
    border-radius: 50%;
    cursor: pointer;
}
#alphabate h6:hover{
    border: 2px solid black;
    transition: 0.4s;
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;

}
#page2-part1{
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1618587571613-54595a5dde89?q=80&w=2774&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;

}
#page2-part2 {
   width: 46%;
   height: 100%;

}
#page2-part2 img{
    width: 100%;
    height: 70%;
    object-fit: cover;
 }
 #text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;
    /* background-color: red; */
    gap: 2px;
 }
 #text-left{
    width: 50%;
    height: 100%;
    
    /* background-color: yellow; */

 }
 #text-left h3{
    font-size: 2.2vw;
    font-weight: 400;
    padding: 1.5vw;
 }
 #text-right{
    width: 50%;
    height: 100%;
    /* background-color: rgb(109, 33, 58);  */
 }
 #text-right p{
    font-size: 1.3vw;
    font-weight: 300;
    padding: 1.5vw;
 }
 #page3{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 5vw 4vw;
 }
 #page3>h1{
    text-align: center;
    font-family:'Monument Extended';
    font-size: 3vw;
    text-transform: uppercase;
    margin-bottom: 7vh;
 }
 .elem{
    height: 15vh;
    width: 100%;
    /* background-color: green; */
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
 }
 .elem img{
    position: absolute;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    left: 12%;
    object-fit: cover;
    opacity: 0;
    transition: all ease 0.5s;
    object-position: top;
 }
 .elem:hover img{
    opacity: 1;
    left: 24%;
}

.elem:nth-child(3):hover img{
    left: 24%;
}
.elem:nth-last-child(1):hover img{
    left: 24%;
}
.elem:nth-last-child(3) img{
    left: 50%;
}
.elem:nth-last-child(1) img{
    left: 50%;
}

 .elem h4{
    font-size: 1.1vw;
    text-transform: uppercase;
    width: 6%;
    font-weight: 500;
 }
 .elem .elem-part2{
    width: 45%;
 }
 .elem .elem-part2 h1{
    font-size: 2.7vw;
    font-weight: 400;
 }
 .elem .elem-part2 h5{
    font-size: 1vw;
    font-weight: 400;
    text-transform: uppercase;
 }
 .elem:nth-last-child(1){
    border-bottom: 2px solid black;

 }

#marque{
    /* height: 15vh; */
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    padding: 0.7vw;
    overflow-y: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#marque h1{
    display: inline-block;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 900;
   -webkit-text-stroke: 1.4px black;
   color: transparent;
   letter-spacing: 2px;
   font-family:'Monument Extended';
   margin-right: 16px;
   animation-name: move;
   animation-duration: 6s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;

}
@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - 20px));
    }
}
#page2-1{
    height: 100%;
    width: 100%;
    /* background: red; */
    display: flex;
    gap: 5%;
    align-items: center;
    padding: 5vw;
    padding-bottom: 0;
}
#left{
    height: 100%;
    width: 40%;
    /* background-color: yellow; */
    padding-top: 2vw;
}
#left img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    padding: 7vw;
    padding-left: 0;
    margin-bottom: 2vw;
}
#left h3{
    font-size: 1.5vw;
    font-weight: 300;
    letter-spacing: 0.7px;
    padding: 2vw;
}
#right{
    height: 100%;
    width: 53%;

}
#right{
    background-position: center;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1529911194209-8578109840df?q=80&w=2736&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    
}
#page2-2{
    height: 90%;
    width: 100%;
    padding: 6vw;

    padding-bottom: 0;
}
#page2-2 img{
    height: 100%;
    width: 100%;
}
#page4{
    height: 100%;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5vw;
    gap: 1vw;
}
#page4-1{
    /* background-color: red; */
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1492288991661-058aa541ff43?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#page4-2{
    /* background-color: rgb(42, 146, 106); */
    height: 100%;
    width: 50%; 
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 1.4vw;
    padding: 1.5vw;
}
#page4-2 h1{
    font-family:'Monument Extended';
    text-transform: uppercase;
    font-size: 3vw;
}

#page4-2 h3{
    height: fit-content;
    width: 69%;
    font-size: 1.7vw;
    font-weight: 600;
    /* background-color: red; */
   
}
#page4-2 p{
    height: fit-content;
    width: 100%;
    font-size: 1.3vw;
}

#img{
    height:60% ;
    width: 100%;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#img img{
height: 100%;
width:50% ;
object-fit: cover;

}
#page5{
    height: 90%;
    width: 100%;
    
    padding: 4vw;

}
#page5 img{
    padding-top: 0;
    height: 100%;
    width: 100%;

}
#page6{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    padding: 4vw;
    display: flex;
    padding-top: 0;
    justify-content: space-between;
    align-items: center;
    /* gap: vw; */
    margin-bottom: 3vw;
}
#page6-1{
    height: 100%;
    width: 50%;
    /* background-color: bisque; */
    
}

#page6-1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#page6-2 {
    width: 46%;
    height: 100%;
 
 }
 #page6-2 img{
     width: 100%;
     height: 70%;
     object-fit: cover;
  }
  #page6-text{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     height: 30%;
     /* background-color: red; */
     gap: 2px;
  }
  #page6-text-left{
     width: 50%;
     height: 100%;
     
     /* background-color: yellow; */
 
  }
  #page6-text-left h3{
     font-size: 2.2vw;
     font-weight: 400;
     padding: 1.5vw;
  }
  #page6-text-right{
     width: 50%;
     height: 100%;
     /* background-color: rgb(109, 33, 58);  */
  }
  #page6-text-right p{
     font-size: 1.3vw;
     font-weight: 300;
     padding: 1.5vw;
  }
  #page7{
    height: 80%;
    width: 100%;
    padding: 2.4vw;
    display: flex;
    justify-content: space-between;

    
  }
  #page7 h1{
    padding: 1.5vw;
    height: 100%;
    width: 17%;
    font-size: 3vw;
    text-transform: uppercase;
    font-family:'Monument Extended';
    
  }
  #page7-1{
    height: 100%;
    width: 40%;

    padding: 1.8vw;
  }
  #page7-2{
    height: 100%;
    width: 40%;
    padding: 1.8vw;

  }
  #page7-1 p{
    font-size: 1.2vw;
   
  }
  #page7-2 p{
    font-size: 1.2vw; 
  }
   #page7-1 img{
    height: 50%;
    width: 100%;
    margin-top: 4vw;
    object-fit: cover;
    object-position: center;
  } 
  #page7-2 img{
    height: 50%;
    width: 100%;
    margin-top: 4vw;
    object-fit: cover;
    object-position: center;
  } 

  #footer{
    height: 40%;
    width: 100%;
    padding: 1vw 0;
 }
 #footer>#nav{
    height: 30vh;
    width: 100%;
    margin-top: 40px;
    /* background-color: red; */
    border-top:2px solid black;
    border-bottom:2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#footer>#nav h1{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 40px;
    letter-spacing: -1px;
    font-weight:700;
    font-family: 'Monument Extended';
    position: relative;
    padding: 2vw;

}
#footer>#nav h3{
    display: none;
}
#footer>#nav h1::after{
    content: "ⓒ";
    font-family:gilroy;
    font-weight: 800;
    font-size: 1.3vw;
    position: absolute;
    top: 12%;
    right:3%;
}
#footer>#nav h1::before{
    content: "model management";
    font-family:gilroy;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.3px;
    position: absolute;
    top: 28%;
    right: 8%;
    color: #666;
}
#footer>#nav  h2{
    /* background-color: blue; */
    height: 100%;
    width: 22%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 25px;
    font-weight: 600;
    /* padding: 2vw; */
    /* background-color: red; */
}
#footer>#nav h2:nth-last-child(2){
    width: 25%;
}
#footer>#nav h2:nth-last-child(1){
    width: 50%;

   
}

#nav h2:last-of-type {
    padding: 0; /* Override padding for the last h2 element */
}
#double{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#first {
    width: 100%;
    height: 20%;
    padding: 0 3vw;
}

#second {
    width: 100%;
    height: 75%;
    border-top: 2px solid black;
    padding: 2vw;
}

.a {
    padding: 2vw;
}

#icon {
    position: relative;
    left: 10%;
}

#icon i {
    margin: 4px;
    font-weight: 400;
    color: rgb(60, 60, 60);
}

#second >#content {
    margin-top: 1vw;
    font-weight: 100;
    font-family:  "Roboto"; /* Added fallback */
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: relative;
    left: 11%;
}

#second >#content span {
    text-transform: uppercase;
}

@media (max-width:600px) {
    html,body{
        overflow-x: hidden ;

    }

    #nav{
        height: 8vh;      
        margin-top: 20px;
        padding: 0 5vw;
    }
    #nav h1{
        width: 40%;
        justify-content: flex-start;
        font-size: 24px;
    }
    #nav h1::after{
    
        display: none;
    }
    #nav h1::before{
    
        display: none;
    }
    #nav h3{
        display: block;
    }
    #nav h2{
        display: none;
        /* background-color: red; */
    }
    #center{
        height:50% ;
        width: 100%;
        /* background-color: red; */
        padding: 4vw;
    }
    #content{
        height: 100%;
        width:100%;
        /* background-color: yellow; */
        position: relative;
    
    }
    #content video{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #overlay{
        height: fit-content;
        width: 100%;
        position: absolute;
        bottom: 0;
        /* background-color: red; */
        padding: 3vw;
        color: #fff;
    
    }
    #over1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2vw;
    }
    #over1 h1{
        font-family:'Monument Extended';
        font-size: 5.6vw;
    
    }
    #over1 h2{
        font-size: 2vw;
        padding: 3vw 3.2vw;
        /* background-color: blue; */
        border-radius: 50%;
        border: 1px solid #fff;
        border-bottom: 2px solid #fff;
    
    }
    #over2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid #fff;
        padding: 1.5vw 0;
    }
    #over2 h4{
        font-size: 3.3vw;
        font-weight: 600;
    }
    #over2 img{
        height: 5vw;
    }
    #scroll {
        height: 20vh;
        width: 250%;
        white-space: nowrap;
        overflow-x: hidden ;
        overflow-y: hidden;
    }
    #container{
        height: 100%;
        width: fit-content;
        /* background-color: blue; */
        display: inline-block;
        padding:2vw;
        animation-name: anime;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function:linear;
     
    }
    #scroll img{
        /* display: none; */
        height: 100%;
        width: 16%;
        margin: 1vw;
        border-radius: 50%;
        object-fit: cover;
        object-position:30% 30%;
    }
    #alphabate{
        height: 5vh;
        width: 100%;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4vw;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    #alphabate h5{
        font-size: 1.8vw;
        font-weight: 400;
        font-style: italic;
        border-bottom: 2px solid black;
        letter-spacing: 4px;
        margin-right: 2vw;
    }
    #alphabate h6{
        font-size: 1.8vw;
        font-weight: 200;
        letter-spacing: 1px;
        font-style: italic;
        /* background-color: yellow; */
        padding: 0.5vw 0.7vw;
        border-radius: 50%;
        cursor: pointer;
    }
    #alphabate h6:hover{
        border: 2px solid black;
        transition: 0.4s;
    }
    #page2{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 2vw 5vw;

    
    }
    #page2-part1{
        height: 45%;
        width: 100%;
        background-image: url(https://images.unsplash.com/photo-1618587571613-54595a5dde89?q=80&w=2774&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-size: cover;
      
    }
    #page2-part2 {
       width: 100%;
       height: 54%;
    
    }
    #page2-part2 img{
        width: 100%;
        height: 90%;
        object-fit: cover;
     }
     #text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 30%;
        /* background-color: red; */
        gap: 2px;
     }
     #text-left{
        width: 50%;
        height: 100%;
        
        /* background-color: yellow; */
    
     }
     #text-left h3{
        font-size: 2.8vw;
        font-weight: 400;
        padding: 1.5vw;
     }
     #text-right{
        width: 50%;
        height: 100%;
        /* background-color: rgb(109, 33, 58);  */
     }
     #text-right p{
        font-size: 2.5vw;
        font-weight: 300;
        padding: 1.5vw;
     }
#page3{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 5vw 4vw;
 }
 #page3>h1{
    text-align: center;
    font-family:'Monument Extended';
    font-size: 3vw;
    text-transform: uppercase;
    margin-bottom: 7vh;
    margin-top: 5vh;
 }
 .elem{
    height: 20vh;
    width: 100%;
    /* background-color: green; */
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
 }
 .elem img{
    position: absolute;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    left: 18%;
    object-fit: cover;
    opacity: 0;
    transition: all ease 0.5s;
    object-position: top;
 }
 .elem:hover img{
    opacity: 1;
    left: 24%;
}

.elem:nth-child(3):hover img{
    left: 24%;
}
.elem:nth-last-child(1):hover img{
    left: 24%;
}
.elem:nth-last-child(3) img{
    left: 50%;
}
.elem:nth-last-child(1) img{
    left: 50%;
}

 .elem h4{
    font-size: 3vw;
    text-transform: uppercase;
    width: 6%;
    font-weight: 500;
 }
 .elem .elem-part2{
    width: 45%;
 }
 .elem .elem-part2 h1{
    font-size: 3vw;
    font-weight: 400;
 }
 .elem .elem-part2 h5{
    font-size: 2vw;
    font-weight: 400;
    text-transform: uppercase;
 }
 .elem:nth-last-child(1){
    border-bottom: 2px solid black;

 }
 #page2-1{
    height: 35%;
    width: 100%;
    /* background: red; */
    display: flex;
    gap: 5%;
    align-items: start;
    padding: 2vw 5vw;
    margin-top: 3vh;

}
#left{
    height: 70%;
    width: 40%;
    /* background-color: yellow; */
    /* padding-top: 2vw; */
    display: flex;
    flex-direction: column;
    gap: 8vw;
}
#left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 7vw;
    padding-left: 0;
    margin-bottom: 2vw;
}
#left h3{
    font-size: 2.5vw;
    font-weight: 300;
    letter-spacing: 0.7px;
    padding: 2vw;
}
#right{
    height: 90%;
    width: 53%;

}
#right{
    background-position: center;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1529911194209-8578109840df?q=80&w=2736&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    
}
#page2-2{
    height: 30%;
    width: 100%;
    padding: 6vw;
    padding-bottom: 0;
}
#page2-2 img{
    height: 100%;
    width: 100%;
}

#page4{
    height: 100%;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5vw;
    flex-direction: column;
    gap: 5vh;
}
#page4-1{
    /* background-color: red; */
    height: 40%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1492288991661-058aa541ff43?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    margin-top: 2vw;
}
#page4-2{
    /* background-color: rgb(42, 146, 106); */
    height: 60%;
    width: 100%; 
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 1.4vw;
    padding: 1.5vw;
}
#page4-2 h1{
    font-family:'Monument Extended';
    text-transform: uppercase;
    font-size: 5vw;
}

#page4-2 h3{
    height: fit-content;
    width: 69%;
    font-size: 3vw;
    font-weight: 600;
    /* background-color: red; */
   
}
#page4-2 p{
    height: fit-content;
    width: 100%;
    font-size: 3vw;
}

#img{
    height:65% ;
    width: 100%;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#img img{
height: 100%;
width:50% ;
object-fit: cover;

}
#page5{
    height: 35%;
    width: 100%;
    padding: 2vw;

}
#page5 img{
    padding-top: 0;
    height: 100%;
    width: 100%;

}
#page6{
    height: 63%;
    width: 100%;
    /* background-color: aqua; */
    padding: 4vw;
    display: flex;
    padding-top: 0;
    justify-content: space-between;
    align-items: center;
    /* gap: vw; */
    margin-bottom: 3vw;
    margin-top: 2vh;
}
#page6-1{
    height: 100%;
    width: 50%;
    /* background-color: bisque; */
    
}

#page6-1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#page6-2 {
    width: 46%;
    height: 100%;
 
 }
 #page6-2 img{
     width: 100%;
     height: 70%;
     object-fit: cover;
  }
  #page6-text{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     height: 30%;
     /* background-color: red; */
     gap: 2px;
  }
  #page6-text-left{
     width: 50%;
     height: 100%;
     
     /* background-color: yellow; */
 
  }
  #page6-text-left h3{
     font-size: 2.9vw;
     font-weight: 400;
     padding: 1.5vw;
  }
  #page6-text-right{
     width: 50%;
     height: 100%;
     /* background-color: rgb(109, 33, 58);  */
  }
  #page6-text-right p{
     font-size: 2.8vw;
     font-weight: 300;
     padding: 1.5vw;
  }
#marque h1{

    font-size: 10vw;


}
  #page7{
    height: 50%;
    width: 100%;
    padding: 2.4vw;
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;

    
  }
  #page7 h1{
    padding: 1.5vw;
    height: 100%;
    width: 17%;
    font-size: 4vw;
    text-transform: uppercase;
    font-family:'Monument Extended';
    
  }
  #page7-1{
    height: 100%;
    width: 40%;

    padding: 1.8vw;
  }
  #page7-2{
    height: 100%;
    width: 40%;
    padding: 1.8vw;

  }
  #page7-1 p{
    font-size: 2.8vw;
   
  }
  #page7-2 p{
    font-size: 2.8vw; 
  }
   #page7-1 img{
    height: 70%;
    width: 100%;
    margin-top: 7vw;
    object-fit: cover;
    object-position: center;
  } 
  #page7-2 img{
    height: 70%;
    width: 100%;
    margin-top: 4vw;
    object-fit: cover;
    object-position: center;
  }
  #footer{
    height: 20%;
    width: 100%;
    padding: 1vw 0;
    margin-top: 8vh;
 }
 #footer>#nav{
    height: 100%;
    width: 100%;
    margin-top: 40px;
    /* background-color: red; */
    border-top:2px solid black;
    border-bottom:2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#footer>#nav h1{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 4vw;
    letter-spacing: -1px;
    font-weight:700;
    font-family: 'Monument Extended';
    position: relative;
    padding: 2vw;
  

}
#footer>#nav h3{
    display: none;
}

#footer>#nav  h2{
    /* background-color: blue; */
    height: 100%;
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 2.45vw;
    font-weight: 600;
    /* padding: 2vw; */
    /* background-color: red; */
}
#footer>#nav h2:nth-last-child(2){
    width: 25%;
}
#footer>#nav h2:nth-last-child(1){
    width: 50%;

   
}

#nav h2:last-of-type {
    padding: 0; /* Override padding for the last h2 element */
}
#double{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#first {
    width: 100%;
    height: 30%;
    padding: 1vw 3vw;
}

#second {
    width: 100%;
    height: 70%;
    border-top: 2px solid black;
    padding: 2vw;
}

.a {
    padding: 2vw;
}

#icon {
    position: relative;
    left: 5%;
    font-size: 4vw;
}

#icon i {
    margin: 4px;
    font-weight: 400;
    color: rgb(60, 60, 60);
}

#second >#content h6 {
    font-size: 2.3vw;
}
#second >#content{
    position: relative;
    left: 5%; 
}


    
}
